<!-- col- elements here -->

<div class="card">
    <div class="row">
        <img class="rounded-circle " style="height: 75px; margin: 15px;" src="/static/image2.jpeg" alt="Circle image">
        <div class="col-sm-8">
            <h5 class="text-dark " style="margin: 0; ">{{ post.user }}</h5>
            <p class="text-muted ">{{ post.created }}</p>
        </div>
    </div>
    <div class="card-body pt-1 ">
    <p class="card-text text-dark ">{{ post.content }}</p>
    <div class="col text-center ">
        <div class=" btn-group-fluid btn-group-sm " role="group " aria-label="Basic example ">
            <button type="button " class="btn btn-secondary ">Like</button>
            <button type="button " class="btn btn-secondary ">Comment</button>
            <button type="button " class="btn btn-secondary ">Share</button>
        </div>
    </div>
    </div>
</div>
