/*---Media Queries --*/

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}

.tests {
    position: absolute;
    bottom: 25px;
    right: 0;
}

.center {
    margin: auto;
    width: 50%;
}

.logout {
    position: absolute;
    right: 25px;
}

.profile {
    margin-left: 25px;
}

.bar {
    margin-right: 5px;
}

.align-items-center {
    align-items: center!important;
}

.signup {
    position: absolute;
    right: 25px;
}

.nav {
    align-items: left;
}

