{% extends "base.html" %} {% block content %}


<div class="row">
    <div class="col-xs-3" style="padding-right: 0;">
        <!-- Content -->
        <div class="list-group p-2 " role="group " aria-label="Basic example ">
            <button type="button " class="btn btn-secondary m-1">News Feed</button>
            <button type="button " class="btn btn-primary m-1">Messenger</button>
            <button type="button " class="btn btn-secondary m-1">Locator</button>
        </div>
    </div>
    <div class="col-xs-6 p-0">
        <div class="card">
            <div class="card-header">
                <div class="list-group list-group-horizontal justify-content-center">
                    <a href="{% url 'media-create-new-post' %}"><button type="button " class="btn btn-success">Create Post</button></a>
                    <button type="button " class="btn btn-primary">Photo/Video</button>
                    <button type="button " class="btn btn-secondary">Live Video</button>
                </div>

            </div>
            <div class="card-body text-center ">
                <textarea rows="5 " cols="60 "></textarea>
                <p class="card-text ">With supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
        <div class="newsfeed container rounded " style="background:white; margin-top: 15px; ">
            <div class="container-header p-2">
                <h4>News Feed</h4>
            </div>
            <!-- col- elements here -->
            <div class="list-group justify-content-center ">
                <div class="col-xs-12 b-2">
                    {% if posts %} {% for post in posts %} {% include "partials/post.html" %} {% endfor %} {% else %}
                    <div class="alert alert-primary" role="alert">No Posts to display.</div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-3 p-0 " style="background: whitesmoke; ">
        <!-- Content -->
    </div>
</div>
{% endblock %}