{% extends "base.html" %} {% block content %}

<div class="col-sm-12 rounded" style="height: 300px; background:transparent url('profile_cover.png') no-repeat center center /cover">
    <div class="col-sm-12 m-1">
        <div class="profile row" style="margin: 25px; padding-bottom: 15px;">
            <div class="col-sm-6 p-3">
                <div class=" card" style="background: transparent; border: 0px;">
                    <div class="row">
                        {% load static %}
                        <img class="card-img-top " src="{% static "profile_cover.png" %}" style="width: 25%; " alt="Card image cap ">
                        <div class="card-body" style="color: black;">
                            <h4>Kyle Kuzma</h4>
                            <p class="text-muted">San Francisco Bay Area</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="test col-sm-6 p-3" style="text-align: center;">
                <div class=" btn-group btn-group-md " role="group " aria-label="Basic example ">
                    <button type="button " class="btn btn-secondary ">Friends</button>
                    <button type="button " class="btn btn-secondary ">Photos</button>
                    <button type="button " class="btn btn-secondary ">Videos</button>
                    <button type="button " class="btn btn-secondary ">About Me</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="posts container">
    <div class="row">
        <div class="col-md-6 pt-5">
            <div class="card">
                {% include "partials/create_post.html" %}
            </div>
            <div class="photos container">
                <h3>FavoritePhotos</h3>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="kuz-profile.jpeg">
                    </div>
                    <div class="col-sm-4">
                        <img src="kuz-profile.jpeg">
                    </div>
                    <div class="col-sm-4">
                        <img src="kuz-profile.jpeg">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="kuz-profile.jpeg">
                    </div>
                    <div class="col-sm-4">
                        <img src="kuz-profile.jpeg">
                    </div>
                    <div class="col-sm-4">
                        <img src="kuz-profile.jpeg">
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-6 pt-2 ">
            <div class="newsfeed container ">
                <h4>News Feed</h4>
                <div class="card " style="width: 500px;">
                    {% if posts %} {% for post in posts %} {% include "partials/post.html" %} {% endfor %} {% else %}
                    <div class="alert alert-primary" role="alert">No Posts to display.</div>
                    {% endif %}
                </div>

            </div>
        </div>

    </div>

</div>

{% endblock %}