{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="icon" href="{% static " image-yoyo-final.png " %}">

    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- BOOTSTRAP THEME -->
    <link rel='stylesheet' href='https://bootswatch.com/4/minty/bootstrap.min.css'>

    <!-- CUSTOM STYLES -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

    <!--Bootstrap JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>

    <title>Coptic Media</title>

</head>

<body style="background: whitesmoke; min-height: 100%; ">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary shadow p-3 mb-3">
        {% if user.is_authenticated %}
        <div class="container-fluid">
            <button class="navbar-toggler" type="submit" data-toggle="collapse" data-target="#navbarResponsive">
                <span class="navbar-toogler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'media-list-post' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'media-profile-post' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nofications</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'update-profile' %}">Settings</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="text-white">Hello, <strong>{{ user }}</strong>!</div>
        {% endif %}

        <a class="center navbar-brand" href="{% url 'media-list-post' %}">Coptic Media</a>

        <div class="btn-group-fluid btn-group-md rounded" role="group" aria-label="Basic example">
            {% if user.is_authenticated %}
            <a href="{% url 'logout' %}"><button type="button" class="bar btn btn-danger">LogOut</button></a> {% else %}
            <a href="{% url 'login' %}" class="btn btn-light ml-2">Log In</a>
            <a href="{% url 'media-signup-page' %}" class="btn btn-primary ml-2">Sign Up</a> {% endif %}
        </div>

    </nav>


    {% block content %}{% endblock %}

    <div class="footer p-5">
        {% load static %}
        <img class="nav-logo" src="{% static 'image-yoyo-final.png' %}" style="height: 35px;"> &copy; 2019
    </div>

</body>

</html>